    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" id="barra_menu">
        <h3 style="color: white; margin-top: -20px;">Practica2</h3>
        <div id="lista">
            <ul class="opciones">
                <li><a>ADMINISTRAR</a></li>
                <li><a href="">HISTORIAL</a></li>
                <li><a href="/">DESCONECTAR</a></li>
            </ul>
        </div>
    </nav>

    <center><H1>Bienvenido de vuelta {{Usuario.nUsuario}}</H1></center>

    <center><TABLE class="table"  style=" width:75%" border="5">
        <THEAD>
            <tr style="font-size: 50px;">
                <th scope="col">PRODUCTO</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">PRECIO</th>
                <th scope="col">ACCION</th>
            </tr>
        </THEAD>
        <TBOdy>
            {{#each products}}
            <tr>
                <td>{{this.producto}}</td>
                <td>{{this.cantidad}}</td>
                <td>{{this.precio}}</td>
                <td>
                    <button>Insertar</button><br>
                    <button>Actualizar</button><br style="padding-top: 2px;">
                    <button>Borrar</button>
                </td>
            </tr>
            {{/each}}
        </TBOdy>
    </TABLE></center>