    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" id="barra_menu">
        <h3 style="color: white; margin-top: -20px;">Practica2</h3>
        <div id="lista">
            <ul class="opciones">
                <li><a href="">COMPRA</a></li>
                <li><a href="">CARRITO</a></li>
                <li><a href="/">DESCONECTAR</a></li>
            </ul>
        </div>
    </nav>

    <center><H1>Bienvenido de vuelta ADMIN</H1></center>