<center><div class="Systuto_body">
        <div class="div_formulario">
            <form id="loginForm" action="/login" method="POST">

                <div class="mb-3">
                    <label for="usrname" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usrname" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="usrPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="usrPassword" name="userPassword" required>
                </div>

                <button type="submit" class="btn btn-primary" form="loginForm">Iniciar sesión</button>
            </form>
        </div>
    </div></center>