* {
  padding: 0;
  margin: 0;
  text-decoration: none;

}

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.Header_tabla{
  padding: 35px 0px;
}

.referencia{
  list-style: none;
}
a{
  list-style-type: none;
}
#barra_menu{
  height: 60px;
  background-color: rgb(27, 27, 27);
  padding: 0px;
  margin: 0px;
}
#barra_menu #lista{
  float: right;
  margin: 0;
  padding: 15px 0px;
  list-style-type: none;
}

li a:hover {
  background-color: #A4A4A4;
  border-radius: 5px;
  transition: 85ms;
  padding:25px 0px;
}
 
#barra_menu ul li{
  display: inline-block;
  margin: 0px 0px;
}

#carrito{
  background-color: #A4A4A4;
  border-radius: 5px;
  padding:25px 0px;
  margin-right:0px;
}

#barra_menu ul li a{
  color: white;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 25px 20px;
}

.table{
  height: 150px;
}

.table thead tr th{
  background-color: darkgrey;
  font-size: 15px;
}

input{
  width: 80%;
  font-size: 13px;
}

.fondo_login{
  background-color: gray  ;
}

.div_formulario{
  width: 50%;
  background-color: white;
  padding: 1%;
  margin-top: 50px;
  border-radius: 5px;
}
/*
.table_admin{
  height: 150px;
}

.table_admin thead tr th{
  background-color: darkgrey;
  font-size: 15px;
}


